{% extends 'base.html.twig' %}

{% block body %}
<br>
{{ form_start(form, {attr: {class: "form-signin"}}) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}

    <button class="btn btn-lg btn-primary btn-block" type="submit">M'inscrire !</button>
{{ form_end(form) }}

{% endblock %}